<h2>とりあえず編集画面</h2>
<%= form_tag update_article_path(@article.id), method: 'patch' do %>
	<%= text_field_tag :title, @article.title %>
	<%= text_area_tag :body, @article.body %>
	<%= text_field_tag :author, @article.author %>
	<%= submit_tag '保存' %>
<% end %>
